/.env
###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
/api/vendor
/var
/.idea
/composer.lock
/data

###> lexik/jwt-authentication-bundle ###
/api/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###
