.env
.idea

###> symfony/phpunit-bridge ###
/api/.phpunit
/api/.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
/api/vendor
/var
/api/var
/.idea
/composer.lock
/data

###> lexik/jwt-authentication-bundle ###
/api/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###
