{% extends 'base.html.twig' %}

{% block body %}
Hello
    <div id="div_chart"></div>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        {{ gc_draw(chart1, 'div_chart') }}
    </script>

    <div id="div_chart2"></div>

    <script type="text/javascript">
        {{ gc_draw(chart2, 'div_chart2') }}
    </script>
{% endblock %}